@import "tailwindcss";
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
  width: 100%;
  overflow-x: hidden;
scroll-behavior: smooth;
}

.logo {
     height: 5rem;
    width: 7rem;
    margin-left: 2rem;
 cursor:default; 
}
 .homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
nav {
    border-bottom: 1px solid black;
    z-index: 3;
    max-height: 25vh;
    width: 100%;
    display: flex;
    background-color:rgb(20, 20, 20);
    animation: slideTop 1s ease-in forwards;
    opacity: 0;
}
@keyframes slideTop {
  from{
    transform: translateY(-40%);
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
.nav-links {
    display: flex;
    list-style: none;
    justify-content: end;
    width: 100%;
    margin-top: 10px;
}

.nav-links li {
    width: fit-content;
    margin: 5px 30px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    color: rgb(243, 239, 239);
}

.nav-links li:hover {
    color: rgb(236, 58, 13);
    text-decoration: underline;
}

.nav-links li:focus {
    color: rgb(236, 58, 13);
}
/* about section  */
.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}
.info-text{
    height: fit-content;
    cursor: default;
    margin-top: 40px;
     animation: slideLeft 1s forwards;
     animation-delay: 0.6s;
     opacity: 0;
}
.info-text h1{
    font-weight: 280;
    cursor: default;
}
@keyframes slideLeft {
  from{
    transform: translateX(-30%);
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.img-animation
{
 animation: slideRight 1s forwards;
 animation-delay: 0.6s;
     opacity: 0;
}
@keyframes slideRight {
  from{
    transform: translateX(30%);
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.lottieWave{
   animation: slideBottom 1s forwards;
 animation-delay: 0.6s;
     opacity: 0;
}
@keyframes slideBottom {
  from{
    transform: translateY(30%);
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
.profileImg {
    height: 226px;
    width: 226px;
    margin: 6rem 5rem;
    background-image: url(../src/assets/profileimg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: floatingImg infinite 3s ease-in;
}
@keyframes floatingImg {
    50% {
        transform: translateY(-10px);
        box-shadow: 0px 2px 3px black;
    }
}
.scrollDown{
     animation: floatScroll infinite 2s ease-in;
}
@keyframes floatScroll {
    50% {
        transform: translateY(-7px);
        /* box-shadow: 0px 2px 3px black; */
    }
}
/* tailwindcss reume nd about */
/* .resume-section {
  padding: 4rem 2rem;
  background: white;
} */

/* .about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
} */

/* .about-text-box,
.resume-box {
  flex: 1;
  min-width: 300px;
} */
 /* #skills {
  text-align: center;
  padding: 60px 0;
  background-color: #0a0a0a; 
  color: white;
} */

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.resume-buttons a:hover{
 box-shadow: 0 8px 25px 10px rgba(207, 27, 4, 0.925);
}
/* .skill-marquee {
  display: flex;
  gap: 20px;
  align-items: center;
} */

.skill-card {
  width: 10rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(228, 99, 13, 0.897);
  border-radius: 15px;
  margin: 0 20px;
  display: flex;
  /* gap: 4; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ddd;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px 15px rgba(207, 27, 4, 0.925);
  border-color: rgb(238, 238, 24);
}

.about-text-box{
  width: 50%;
}
/* .resume-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  height: fit-content;
} */

/* .download-btn{
  padding: 4px 3px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
   background-color: #2563eb;
} */

/* .download-btn:hover {
  background-color: #1d4ed8;
} */
/* project section */
.project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* gap: 20px; */
  flex-wrap: wrap;
}

.project-text {
  /* flex: 1; */
  max-width: 400px;
  /* text-align: left; */
}

.project-text h2 {
  /* font-size: clamp(42px, 2.5vw, 70px); */
  margin-bottom: 10px;
  /* text-align: center; */
  /* background-color: blueviolet; */
}

.project-text p {
  font-size: clamp(20px, 3vw, 16px);
}

.project-image-container {
  flex: 1;
  max-width: 40rem;
  position: relative;
  margin-top: 15px;
}

.project-image-container img {
  width: 80%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Overlay Buttons on Image */
.overlay-buttons {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5rem;
}

.overlay-buttons a {
  background: black;
  color: white;
  padding: 10px 18px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.overlay-buttons a:hover {
  /* background: black; */
  box-shadow: 0px 10px 25px 10px rgb(151, 8, 233);
}

/* project section Navigation */
.project-section{
  display: flex;
}
.project-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 25px;
}

.project-nav button {
  background:rgb(3, 3, 3);
  color: #ddd;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.project-nav button.active {
  background:rgb(151, 8, 233);
  color: white;
}

.project-nav button:hover {
  /* background: #340985; */
  box-shadow: 0px 8px 22px 10px rgb(151, 8, 233);
}

/* contact section  */
/* .contact-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.contact-section,
label {
    display: flex;
    color:black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .form-container button {
    padding: 10px;
    background-color: black;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 15px;
    border-radius: 16px;
    margin-top: 5px;
  }
label {
    width: 100%;
    color: white;
}
.contact-section input, 
.contact-section textarea
{
      border-radius: 10px;
    margin:5px;
  }

.contact-section textarea {
    max-width: 25vw;
    max-height: 15vh;
}
.form-container {
    border-radius: 25px;
    padding: 20px 50px;
    max-width: 100%;
    /* max-height: 90vh; */
    background: rgba(0, 0, 0, 0.801);
    /* background-color: rgb(6, 109, 66); */
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.4);
    /* margin-top: 5rem; */
    margin-bottom: 2rem;
}
/* .form-bg{
    position: absolute;
    transform: scale(1.4);
    height: 100%;
    width: 42%;
    z-index: -1;
    margin-top: 19rem;
} */
/* left side social icons */
.social-icons {
  position: fixed;
  top: 40%;
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 1000;
}

.social-icons a {
  display: block;
  width: 60px; 
  height: 60px;
}

.social-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.skill-icons{

  font-size: 5rem;
/* width: 100%; */
/* margin: 0px 20px; */
}
/* .project-container Marquee{
  margin: 0px 20px;
} */


.footer-section{
    text-align: center;
    background-color: black;
        /* margin-top: 23rem; */
        height: 5rem;
        color: white;
}
input,
textarea {
  color: white;
  outline: auto; /* restores browser default */
}

 @media (width <= 768px) {
  *{
    font-family:Arial, Helvetica, sans-serif;
    }
  /* Navbar */
  .logo{
    display: flex;
    height: 5rem;
    width: 5rem;
    margin: 0px;
    padding: 0px;
  }
  nav {
    position:sticky-top;
    padding: 5px;
    background-color: black;
  }
  .nav-links {
    gap: 0px;
    
  }
  .nav-links li {
    color: white;
    font-size: 22px;
    margin: 25px 5px;
  }

  /* About Section */
  .info-section {
    flex-direction: column;
    padding: 5rem;
  }
  .info-text {
    margin: 20px 0;
    width: 24rem;
  }
  .info-text h1 {
    font-size: 25px;
    font-weight: 800;
  }
  .info-text p{
    /* font-size: 20px; */
    font-weight: 450;
    /* margin: 15px; */
  }
  .profileImg {
    height: 204px;
    width: 203px;
    margin: 4rem auto 0;
  }
  .skill-card{
     margin: 2px;
     padding-top: 2px;
  }
/* .about-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.resume-box h2 ,
.resume-box p{
display: none;
}
.about-text-box{
  width: 100%;
} */
/* project section */
/* .project-section{
  flex-direction: column;
} */
.project-image-container{
  /* flex-direction: column; */
  /* align-items: center; */
  flex: none;
  max-width: fit-content;
}
.project-image-container img{
  width:80%;
  /* margin: 0 1rem; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: auto;
}
.overlay-buttons {
  /* position: absolute; */
  top: 80%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* display: flex; */
  gap: 4rem;
}
/* .project-text {
    margin: 10px 0;
  } */
  /* .project h1 {
    font-size: 26px;
    font-weight: 300;
  } */
  /* Contact Form */
  .contact-section {
    width: 100%;
    padding-bottom: 1rem;
  }
  .form-container {
    max-width: 50%;
    padding: 0;
    margin: 5px;
  }
  .form-container input,
  .form-container textarea {
    width: 75%;
    border: 0px;
    border-radius: 10px;
  }
  .form-container textarea {
    max-width: 100%;
    height: 7rem;
  }
.form-bg{
    position: absolute;
    transform: scale(1.3);
    height: 50%;
    width: 100%;
    z-index: -1;
    margin-top: 14rem;
}
  /* Social Icons */
  .social-icons {
    position: fixed;
    top: 25rem;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .social-icons a {
    width: 50px;
    height: 50px;
  }
  .footer-section{
    /* margin:0; */
    /* margin-top: 12rem; */
    margin-bottom: 0;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px;
  border-radius: 5px;
}

/* 🔹 Mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
     }
  .nav-links {
    position: absolute;
    top: 60px;
    right: -220px;
    background: black;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
    /* height: 100vh; */
    width: 200px;
    transition: right 0.3s ease;
    padding: 1rem;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.open {
    right: 0;
    opacity: 1;
    pointer-events: all;
  }
}
/* @media (min-width:769px) and (max-width:1024px) {
  
 } */